{{ define "header" }}
<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ .Site.Title }}</title>
  <meta name="description" content="{{ .Site.Description }}">
  <meta name="author" content="Lsong">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff">
  <meta name="color-scheme" content="dark light">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Lsong’s Web">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@song940">
  <link rel="manifest" href="/manifest.json">
  <link rel="icon" type="image/png" href="icon.png">
  <link rel="icon" type="image/svg+xml" href="icon.svg">
  <link rel="apple-touch-icon" sizes="128x128" type="image/png" href="icon-x128.png">
  <link rel="apple-touch-icon" sizes="512x512" type="image/png" href="icon-x512.png">
  <link rel="stylesheet" href="{{ css }}" />
  <script type="module" src="/js/index.js"></script>
</head>

<body>
  <div class="container">
    <header class="header">
      <a class="heading" href="/">
        <img src="https://lsong.org/icon.svg" alt="" class="logo">
        <span class="title">{{ .Site.Title }}</span>
      </a>
      <nav id="navbar" class="nav nav-bar">
        <a href="//lsong.org">home</a>
        <a href="//lsong.org/posts">blog</a>
        <a href="//lsong.org/books">books</a>
        <a href="//lsong.org/music">music</a>
        <a href="//lsong.org/apps.html">apps</a>
        <x-inbox></x-inbox>
      </nav>
      <hr />
    </header>
    <main class="content">
      {{ end }}