<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Lsong's Projects</title>
  <meta name="description" content="Smithy Git repositories">
  <meta name="author" content="Lsong">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-title" content="Lsong's Projects">
  <meta name="apple-mobile-web-app-status-bar-style" content="default">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@lsongdev">
  <link rel="icon" type="image/png" href="https://lsong.org/icon.png">
  <link rel="icon" type="image/svg+xml" href="https://lsong.org/icon.svg">
  <link rel="apple-touch-icon" sizes="128x128" type="image/png" href="https://lsong.org/icon-x128.png">
  <link rel="apple-touch-icon" sizes="512x512" type="image/png" href="https://lsong.org/icon-x512.png">
  <style>
    @import "https://lsong.org/css/stylesheet.css";
  </style>
</head>

<body>
    <header class="navbar">
      <a class="navbar-brand" href="/">
        <img width="18" src="https://lsong.org/icon.png" alt="" class="navbar-brand-mark">
        <h1 class="title" prefix="Lsong's " >Projects</h1>
      </a>
      <nav id="navbar" class="">
        <a href="//lsong.org">home</a>
        <a href="//lsong.org/posts">blog</a>
        <a href="//lsong.org/books">books</a>
        <a href="//lsong.org/music">music</a>
        <a href="//lsong.org/apps.html">apps</a>
        <x-inbox></x-inbox>
      </nav>
      <hr />
    </header>
    <main class="card">
      {{ block "content" . }}{{ end }}
      </main>
      <footer class="footer">
        <a href="https://lsong.org" class="navbar-brand">
          <img width="18" src="https://lsong.org/icon.png" alt="" class="navbar-brand-mark">
          <span class="navbar-brand-text">lsong.org</span>
        </a>
        <nav>
          <a href="//lsong.org">Email</a>
          <a href="//lsong.org/terms.html">Terms</a>
          <a href="//lsong.org/privacy.html">Privacy</a>
        </nav>
      </footer>
  </body>
</html>
