{{ template "header" . }}

{{ $repo := .RepoName }}

<h2>~/projects/{{ $repo }}</h2>

<nav>
  <a class="nav-link" href="/{{ $repo }}">About</a>
  <a class="nav-link" href="/{{ $repo }}/refs">Refs</a>
  <a class="nav-link" href="/{{ $repo }}/log">Log</a>
  <a class="nav-link" href="/{{ $repo }}/tree">Tree</a>
</nav>


<h3>History</h3>
<p>Ref: {{ .RefName }}</p>

<table class="table table-striped">
  <thead>
    <th>Sha</th>
    <th>Commit date</th>
    <th>Commit message</th>
    <th>Author</th>
  </thead>
  <tbody>
    {{ range .Commits }}
    <tr>
      <td><a href="/{{ $repo }}/commit/{{ .Commit.Hash }}">{{ .ShortHash }}</a></td>
      <td>{{ .FormattedDate }}</td>
      <td>{{ .Subject }}</td>
      <td>{{ .Commit.Author.Name }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "footer" }}