{{ template "header" . }}

{{ $repo := .RepoName }}
{{ $subtree := .SubTree }}
{{ $ref := .RefName }}
{{ $path := .Path }}

<h2>~/projects/{{ $repo }}</h2>

<nav>
  <a class="nav-link" href="/{{ $repo }}">About</a>
  <a class="nav-link" href="/{{ $repo }}/refs">Refs</a>
  <a class="nav-link" href="/{{ $repo }}/log">Log</a>
  <a class="nav-link" href="/{{ $repo }}/tree">Tree</a>
</nav>

<h3>Files</h3>
<p>Ref: {{ .RefName }}</p>
<p>Path: <a href="/{{ $repo }}/tree/{{ $ref }}/{{ .ParentPath }}">{{ .ParentPath }}</a>/{{ $subtree}}</p>
<ul>
  {{ range .Files }}
  <li>
    <a data-mode="{{ .FileMode }}" href="/{{ $repo }}/tree/{{ $ref }}/{{ if $path }}{{ $path }}/{{ end }}{{ .Name }}">
      {{ .Name }}{{ if not .Mode.IsFile }}/{{ end }}
    </a>
  </li>
  {{ end }}
</ul>

{{ template "footer" }}